/* Grundlegendes Styling für den gesamten Body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Header - Oberleiste - Kopfleiste */
header {
  position: absolute;
  align-content: center;
  left: 0;
  top: 0;
  color: white;
  font-size: 180%;
  background-color: rgba(0, 0, 200, 0.51);
  height: 75px;
  max-height: 10%;
  width: 100%;
  max-width: 101%;
  z-index: 10;
}

/* Navigation */
nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
}

/* Hauptinhalt */
main {
  padding: 20px;
  text-align: center;
  margin-top: 120px; /* Abstand nach Header */
}

/* Container für den Inhalt */
.container {
  position: absolute;
  align-content: center;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.8);
  color: white;
}

h1 {
  color: blue;
  margin-bottom: 20px;
}

p {
  color: black;
  margin-bottom: 20px;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Responsives Design */
@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin-bottom: 10px;
  }
  
  .container {
    width: 90%;
    max-width: 90%;
    padding: 20px;
  }
}
